<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="views/css/font.css" rel="stylesheet">
    <style>
        #container{
            margin:200px auto 0 auto;
            max-width:1301px;
            /* border:1px solid black; */
        }
        #no_cap{
            font-family: "appleNeoL" !important;
            font-size:70px;
            text-align:center;
        }
        #no_cap span:first-child{
            font-family: "appleNeoEB" !important;
        }
        @media(max-width:1012px){
            #no_cap{
                font-size:8vw;
            }
        }
    </style>
</head>

<body>
    <%- include ("../header/header.ejs") %>
    <div id="container">
        <div id="no_cap">
            <span>?</span><br>
            <span>아직 묻은 캡슐이 없습니다</span>
        </div>
    </div>
</body>
</html>