
<link href="views/css/header.css" rel="stylesheet">
<div id="header">
    <a href="/"><span>홈</span></a>
    <a href="../about"><span>소개</span></a>
    <a href="../make"><span>타임캡슐 만들기</span></a>
    <a href="../mycap"><span>타임캡슐 확인하기</span></a>
</div>