
<link href="views/css/m_header.css" rel="stylesheet">

<div id="header">
    <a href="/"><div id="cap"><img src="../views/img/capsule-1.png"></div></a>
    <a href="../about"><div class="about">소개</div></a>
    <a href="../make"><div class="make">타임캡슐 만들기</div></a>
    <a href="../mycap"><div class="check">타임캡슐 확인하기</div></a>
    <a href="../logout"><div class="logout">로그아웃</div></a>
</div>